<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <h1>country:<%= @user.country %></h1>
      <p><%= @user.profile %></p>
      <%= link_to "followers", follower_user_path(@user.id), class: "btn btn-info btn-sm", type:"button"%>
      <%= link_to "followings", following_user_path(@user.id),class: "btn btn-info btn-sm", type:"button"  %>
      <%= link_to "favs", favorite_micropost_path(@user.id),class: "btn btn-info btn-sm", type:"button"%>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>